* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    color: #e6e8d9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #38383d;
    padding: 1rem;
    background-image: linear-gradient(to top, rgba(255, 0, 0, 0), rgb(109, 110, 103));


    .btn {
        padding: 2rem 2rem;
        font-weight: bold;
        font-size: larger;
    }

    nav {
        display: flex;
        gap : 0.5rem;
        position: relative;

        a {
            text-decoration: none;
        }

        a:hover {
            font-size: x-large;
            color: white;
        }

    }
}

.logo {
    width: 10rem;
    align-items: center;
}


.hero {
    height: 90dvh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #38383d;
    background-image: radial-gradient(ellipse, rgb(109, 110, 103), rgba(255, 0, 0, 0));

}

.btn-about-me {
    color: #e6e8d9;
    padding: 1rem 1rem;
    font-weight: bold;
    border: 2px outset;
    border-radius: 8px;
    padding: 1rem;
    text-decoration: none;

}



.footer {
    background-color: #27272b;
    text-align: end;
    line-height: 1.6;
    font-family: serif;

}

.row-footer {
    display: flex;
    align-items: center;
}

.column-footer {
    flex: 50%;
    padding: 40px;

}


.links {
    display: flex;
    justify-content: center;

}

.links a {
    margin: 0 30px;
    text-decoration: none;

}
